@charset "UTF-8";
/*
 * resre
 * ccSave.css
 *
 * Description - Contains all the styling settings for the continue/cancel area used at the bottom of the home characteristics
 *                        screens..
 *
 * Author:      John Arnold <john@jdacsolutions.com>
 * Link:           https://jdacsolutions.com
 *
 * Created:             Jun 6, 2018 10:24:58 AM
 * Last Updated:    Date 
 * Copyright            Copyright 2018 JDAC Computing Solutions All Rights Reserved
 */
/* 
    Created on : Jun 6, 2018, 10:24:58 AM
    Author     : John Arnold <john@jdacsolutions.com>
*/
.ccSave {
    background-color: var(--paleGreen);
    background-color: #D3E4CC;
    padding: 0px 0px;
    height: 140px;
    margin-right: auto;
}
.stories-upload {
    margin-left: 13px;
}
.ccButtons {
    position: relative;
    float: left;
}
.ccButton-first {
    margin-left: 10px;
}
.ccButton-middle {
    margin-left: -20px;
}
.ccButton-last {}
.ccUpload {}

@media screen and (max-width: 767px) {
    .ccButton-last, .ccButton-middle {
        text-align: center;
    }
    .ccButton-first { 
        margin-left: 25px; 
    }
    .ccButton-middle {
        margin-left: -20px;
    }
    .ccButtons {
        top: 0px;
    }
    .ccSave {
        height: 140px;
    }
    .stories-upload {
        margin-top: 10px;
        margin-bottom: 30px;
        margin-left: 35px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .ccButton-first {
        margin-left: 15px;
    }
    .ccButton-middle {
        text-align: right;
        padding-right: 40px;
        margin-left: 0;
    }
    .ccButton-last {
        margin-left: 0;
        text-align: right;
    }
    .ccButtons {
        margin-top: -80px;
        height: 132px;
    }
    .ccSave {
        margin-left: 0;
        height: 165px;
    }
    .stories-upload {
        margin: 25px 0px 105px 170px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .ccButton-first {
        margin-left: 15px;
    }
    .ccButton-middle {
        text-align: left;
        margin-left: 0;
    }
    .ccButton-last {
        margin-left: 0;
        text-align: center;
    }
    .ccButtons {
        margin-top: 50px;
        height: auto;
    }
    .ccSave {
        margin-left: 0;
        height: 165px;
    }
    .ccUpload {
        padding-left: 0;
        padding-right: 0;
        padding-top: 15px;
    }
    .stories-upload {
        margin: 25px 0px 105px 170px;
    }
}

@media screen and (min-width: 1200px) {
    .ccButton-first {
        margin-left: 15px;
    }
    .ccButton-middle {
        text-align: left;
        margin-left: 0;
    }
    .ccButton-last {
        margin-left: 0;
        text-align: center;
    }
    .ccButtons {
        margin-top: 50px;
        height: auto;
    }
    .ccSave {
        margin-left: 0;
        height: 165px;
    }
    .ccUpload {
        padding-left: 0;
        padding-right: 0;
        padding-top: 15px;
    }
    .stories-upload {
        margin: 25px 0px 105px 170px;
    }
}

