@charset "UTF-8";
/* CSS File for Wall Type Characteristics */
/*
 * resre
 * complete.css
 *
 * Description - Contains css styles specificatlly for the us/report-loading/complete page.
 *                        Because of the vericial lines used as connectors between sections, all major breakpoints have to
 *                        be validated against.  Baseline designs were done at widths 375px and 1440px.
 *
 * Author:      John Arnold <john@jdacsolutions.com>
 * Link:           https://jdacsolutions.com
 *
 * Created:             Jun 8, 2018 8:03:57 AM
 * Last Updated:    Date 
 * Copyright            Copyright 2018 JDAC Computing Solutions All Rights Reserved
 */
/* 
    Created on : Jun 8, 2018, 8:03:57 AM
    Author     : John Arnold <john@jdacsolutions.com>
*/
body {
    max-width: none;
}
.carousel-content-wrapper {
    width: 100%;
}
.ccButtons {
    top: 0px;
}
.complete {
    background-color: var(--blue);
    color: #004A80;
    height: 150px;
}
.complete-down {
    padding-top: 10px;
}
.footer {
    padding-top: 40px;
}
.mid-button-mustard, .mid-button-sand {
    width: 90%;
}

@media screen and (max-width: 767px) {
    .ccButtons.ccButton-first {
        text-align: center;
    }
    .ccButtons.ccButton-middle {
        text-align: right;
        padding: 0px 20px;
    }
    .ccButtons.ccButton-last {
        text-align: left;
        padding: 0px 20px;
    }
    .chars-desc {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 25px;
    }
    .chars-marker.chars {
        padding-left: 52px;
        margin-top: 55px;
    }
    .complete-down {
        padding-top: 8px;
        margin-left: 1px;
    }
    .complete-modal {
        position: absolute;
        z-index: 10;
        margin-top: 100px;
        padding-left: 22px;
        padding-right: 0px;
    }
    .marker-complete {
        padding-top: 20px;
        margin-left: 0;
    }
    .topic {
        margin-left: 25px;
        margin-top: 50px;
        margin-right: 0px;
    }
    .topic h4 {
        line-height: 42px;
    }
    div#topCarousel::before {
        content: " ";
        position: absolute;
        border-left: 2px solid #d8d8d8;
        height: 110%;
        width: 0px;
        left: 52px;
        top: 0;
    }
    div#markerDown::before {
        content: " ";
        position: absolute;
        border-left: 2px solid #d8d8d8;
        height: 10%;
        width: 0px;
        left: 52px;
        top: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .ccButtons {
        top: 20px;
    }
    .ccButtons.ccButton-first {
        text-align: center;
    }
    .ccButtons.ccButton-middle {
        text-align: right;
        padding: 0px 20px;
    }
    .ccButtons.ccButton-last {
        text-align: left;
        padding: 0px 20px;
    }
    .chars-desc {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 25px;
    }
    .chars-marker.chars {
        padding-left: 85px;
        margin-top: 52px;
    }
    .complete-down {
        padding-top: 10px;
        margin-left: 6px;
        width: auto;
    }
    .complete-modal {
        position: absolute;
        z-index: 10;
        margin-top: 70px;
        padding-left: 70px;
        padding-right: 0px;
    }
    .marker-complete {
        padding-top: 15px;
        margin-left: 0;
    }
    .marker-white {
        padding-top: 10px;
    }
    .mid-button-mustard, .mid-button-sand {
        width: auto;
    }
    .topic {
        margin-left: 25px;
        margin-top: 50px;
        margin-right: 0px;
    }
    .topic h4 {
        line-height: 42px;
    }
    div#topCarousel::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #d8d8d8;
        height: 350px;
        width: 0px;
        left: 100px;
        top: 0;
    }
    div#markerDown::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #d8d8d8;
        height: 10%;
        width: 0px;
        left: 100px;
        top: auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .ccButtons {
        top: 20px;
    }
    .ccButtons.ccButton-first {
        text-align: center;
        padding-left: 125px;
    }
    .ccButtons.ccButton-middle {
        text-align: right;
        padding: 0px 20px;
    }
    .ccButtons.ccButton-last {
        text-align: left;
        padding: 0px 20px;
    }
    .chars-desc {
        margin-left: 0px;
        padding-right: 20px;
        padding-left: 70px;
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .chars-marker.chars {
        padding-left: 178px;
        margin-top: 35px;
    }
    .complete-down {
        padding-top: 10px;
        margin-left: 3px;
        width: auto;
    }
    .complete-modal {
        position: absolute;
        z-index: 10;
        margin-top: 70px;
        padding-left: 170px;
        padding-right: 0px;
    }
    .marker-complete {
        padding-top: 15px;
        margin-left: 0;
    }
    .marker-white {
        padding-top: 10px;
    }
    .mid-button-mustard, .mid-button-sand {
        width: auto;
    }
    .topic {
        margin-left: 25px;
        margin-top: 50px;
        margin-right: 0px;
    }
    .topic h4 {
        line-height: 42px;
    }
    div#topCarousel::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #d8d8d8;
        height: 450px;
        width: 0px;
        left: 200px;
        top: 0;
    }
    div#markerDown::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #d8d8d8;
        height: 10%;
        width: 0px;
        left: 200px;
        top: auto;
    }
}

@media screen and (min-width: 1200px) {
    .ccButtons {
        top: 20px;
    }
    .ccButtons.ccButton-first {
        text-align: center;
        padding-left: 125px;
    }
    .ccButtons.ccButton-middle {
        text-align: right;
        padding: 0px 20px;
    }
    .ccButtons.ccButton-last {
        text-align: left;
        padding: 0px 20px;
    }
    .chars-desc {
        margin-left: 0px;
        padding-right: 20px;
        padding-left: 95px;
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .chars-marker.chars {
        padding-left: 185px;
        margin-top: 35px;
        margin-left: 0px;
    }
    .complete-down {
        padding-top: 10px;
        margin-left: 3px;
        width: auto;
    }
    .complete-modal {
        position: absolute;
        z-index: 10;
        margin-top: 70px;
        padding-left: 170px;
        padding-right: 0px;
    }
    .marker-complete {
        padding-top: 15px;
        margin-left: 0;
        font-size: 25px;
        line-height: 30px;
    }
    .marker-white {
        padding-top: 10px;
        margin-left: 0px;
    }
    .mid-button-mustard, .mid-button-sand {
        width: auto;
    }
    .topic {
        margin-left: 25px;
        margin-top: 50px;
        margin-right: 0px;
    }
    .topic h4 {
        line-height: 42px;
        margin-left: 40px;
        margin-top: -2px;
    }
    div#topCarousel::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #d8d8d8;
        height: 700px;
        width: 0px;
        left: 200px;
        top: 0;
    }
    div#markerDown::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #d8d8d8;
        height: 10%;
        width: 0px;
        left: 200px;
        top: auto;
    }
}

