@charset "UTF-8";
/*
 * resre
 * footer.css
 *
 * Description - CSS classes and definitions for the site footer.
 *
 * Author:      John Arnold <john@jdacsolutions.com>
 * Link:           https://jdacsolutions.com
 *
 * Created:             Jun 6, 2018 2:38:21 PM
 * Last Updated:    Date 
 * Copyright            Copyright 2018 JDAC Computing Solutions All Rights Reserved
 */
/* 
    Created on : Jun 6, 2018, 2:38:21 PM
    Author     : John Arnold <john@jdacsolutions.com>
*/
/* Social Icons */
.social {
    display: none;
}
@media (min-width: 980px) {
    .social {
        display: block;
    }
}
.relative {
    position: relative;
}
.center {
    text-align: center;
}
.footer {
    background-color: var(--slate);
    background-color: #1A2D3C;
    text-align: center;
    padding-bottom: 80px;
    color: var(--white);
    color: #FFFFFF;
}

.footer  .learn_more_toolkits {
    font-size: 24px;
    line-height: 26px;
}
.footer .learn_more_toolkits p {
    font-size: 20px;
    line-height: 26px;
}
.footer .learn_more_toolkits a {
    color: var(--white);
    color: #FFFFFF;
    padding: 40px 0;
    font-size: 20px;
    padding: 0;
    margin: 0;
    display: inline;
    font-weight: 800;
}
.learn_more_toolkits a:hover, .learn_more_toolkits a:focus {
    color: var(--paleGreen);
    color: #D3E4CC;
}
.learn_more_padding {
    padding: 1.94em 1.94em 0.97em 1.94em !important;
}
.padding_left {
    padding-left: 3.88em !important;
}
.padding_right {
    padding-right: 3.88em !important;
}
.padding_top {
    padding-top: 3.88em !important;
}
.padding_bottom {
    padding-bottom: 3.88em !important;
}
.footer_hr {
    padding: 1.66em 0;
}
.footer_hr hr {
    border: 0 none;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0;
    background-color: #fff;
    margin: 0;
}
.footer_hr img {
    padding: 0 2em;
    max-width: 200px;
    margin: 0 auto;
    z-index: 1;
}
.footer a {
    color: var(--white);
    color: #FFFFFF;
    margin: 0 1em;
}
.footer a:focus, .footer a:active, .footer a:hover {
    color: var(--paleGreen);
    color: #D3E4CC;
}
.footer_nav_links a {
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
}
.footer_nav_links.large a {
    font-size: 18px;
}
.footer .footer_nav_links.sublinks a {
    margin: 0 1.5em;
    text-decoration: underline;
}
.footer_nav_links.sublinks a:first-child {
    margin-left: 0;
}
.footer_nav_links.sublinks a:last-child {
    margin-right: 0;
}
.social_links {
    margin: 0.1em 0;
}
.footer_social_links {
    padding:1.66em 0;
    vertical-align:middle;
    margin: 0 auto;
}
.footer_social_links .col-md-6 {
    padding:0 1em;
}
.small {
    font-size: 14px !important;
}
.max_width {
    max-width: 1024px;
}
.button {
    border-radius: 2px;
    color:#FFF;
    padding:0.8em 1.6em;
    line-height:1;
    font-weight:400;
    text-transform:uppercase;
    display:inline-block;
    width:auto;
}
.stay_social {
    display: inline;
}
.footer-nav.social {
    display: inline;
    padding: 0;
    margin: 0;
}
.footer-nav.social > li {
    list-style: outside none none;
    display: inline-block;
    position: relative;
    bottom: -5px;
}
.footer-nav.social > li a {
    font-size: 0;
    text-indent: -9999px;
    line-height: 0;
    color: transparent;
    overflow: hidden;
    display: block;
    height: 65px;
}
.footer-nav.social > li a {
    height: 23px;
    vertical-align: middle;
}
.footer-nav.social > li > a.tweeter {
    margin-left: 10px;
    width: 27px;
}
.footer-nav.social > li > a.tweeter:hover img {
    display: none;
}
.footer-nav.social > li > a.tweeter:hover img.hover {
    display: block;
}
.footer-nav.social > li > a.tweeter img.hover {
    display: none;
}
.footer-nav.social > li > a.youtube {
    width:32px;
    margin-left:8px;
}
.footer-nav.social > li > a.youtube:hover img {
    display:none;
}
.footer-nav.social > li > a.youtube:hover img.hover {
    display:block;
}
.footer-nav.social > li > a.youtube img.hover {
    display:none;
}
.footer-nav.social > li > a.facebook {
    margin-left: 10px;
    width: 23px;
}
.footer-nav.social > li > a.facebook:hover img {
    display:none;
}
.footer-nav.social > li > a.facebook:hover img.hover {
    display:block;
}
.footer-nav.social > li > a.facebook img.hover {
    display:none;
}
.footer-nav.social > li > a.rss_feed {
    margin-left: 10px;
    width: 23px;
}
.footer-nav.social > li > a.rss_feed:hover img {
    display:none;
}
.footer-nav.social > li > a.rss_feed:hover img.hover {
    display:block;
}
.footer-nav.social > li > a.rss_feed img.hover {
    display:none;
}
.footer_copyright {
    padding: 0 1.66em 0;
}

@media (max-width: 639px) {
    .social_text {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .sign_up_mobile {
        margin-top: 15px !important;
    }
    .social_links {
        margin_top: 18px;
    }
}
@media (max-width: 767px) {
    .footer_nav_links.fold a {
        display: block;
        margin: 0 !important;
    }
    .stay_social {
        display: block;
    }
}