@charset "UTF-8";
.container { width: 100%; }

.cc {
    margin-right: 0px;
    margin-left: 0px;
    padding: 30px 0;
}
.tagline {
    margin-top: 60px;
}
.ccSave-fix-left, .ccSave-fix-right {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .carousel-header-text {
        padding: 120px 15px 20px 5px;
    }
    .fix-left {
        margin-left: 24px;
    }
    .form-paleBlue {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .loc-form {
        margin-right: 5px;
    }
    .loc-pull-up {
        margin-top: 20px;
        padding-left: 10px;
    }
    div#locText::before {
        content: " ";
        position: absolute;
        border-left: 2px solid #6A95B5;
        height: 175px;
        width: 0px;
        left: 100px;
        top: 0px;
        z-index: 500;
    }
    div#locText::after {
        content: " ";
        position: absolute;
        border-bottom: 2px solid #6A95B5;
        height: 0px;
        width: 40px;
        left: 81px;
        top: 175px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-header-text {
        padding: 60px 15px 5px 5px;
    }
    .ccSave-fix-left {
        text-align: left;
        padding-left: 70px;
    }
    .ccSave-fix-right {
        text-align: right;
        padding-right: 70px;
    }
    .fix-left {
        margin-left: 28px;
    }
    .form-paleBlue {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .loc-form {
        margin-right: 5px;
    }
    .loc-pull-up {
        margin-top: 20px;
        padding-left: 10px;
    }
    div#locText::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 67px;
        width: 0px;
        left: 117px;
        top: 0px;
        z-index: 500;
    }
    div#locText::after {
        content: " ";
        position: absolute;
        border-bottom: 3px solid #6A95B5;
        height: 0px;
        width: 40px;
        left: 100px;
        top: 65px;
    }
    div#ccSave::after {
        content: " ";
        position: absolute;
        border-bottom: 3px solid #6A95B5;
        height: 0px;
        width: 40px;
        left: 100px;
        top: 265px;
    }
    div#ccSave::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 16%;
        width: 0px;
        left: 117px;
        top: 265px;
    }
    div#continue::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 36px;
        left: 117px;
        top: -30px;
    }
    div#continue::after {
        content: " ";
        position: absolute;
        border-left: 3px solid rgba(211,228,204,1);
        height: 30px;
        left: 105px;
        top: 46px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .carousel-content-wrapper.left {
        left: 120px;
    }
    .carousel-header-text {
        padding: 52px 15px 5px 5px;
    }
    .ccSave-fix-left {
        text-align: left;
        padding-left: 80px;
    }
    .ccSave-fix-right {
        text-align: right;
        padding-right: 80px;
    }
    .fix-left {
        margin-left: 28px;
    }
    .form-paleBlue {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .loc-form {
        margin-right: 5px;
    }
    .loc-pull-up {
        margin-top: 20px;
        padding-left: 10px;
    }
    
    div#locText::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 67px;
        width: 0px;
        left: 137px;
        top: 0px;
        z-index: 500;
    }
    div#locText::after {
        content: " ";
        position: absolute;
        border-bottom: 3px solid #6A95B5;
        height: 0px;
        width: 40px;
        left: 120px;
        top: 65px;
    }
    div#ccSave::after {
        content: " ";
        position: absolute;
        border-bottom: 3px solid #6A95B5;
        height: 0px;
        width: 40px;
        left: 120px;
        top: 340px;
    }
    div#ccSave::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 16%;
        width: 0px;
        left: 137px;
        top: 340px;
    }
    div#continue::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 36px;
        left: 137px;
        top: -30px;
    }
    div#continue::after {
        content: " ";
        position: absolute;
        border-left: 2px solid rgba(211,228,204,1);
        height: 30px;
        left: 105px;
        top: 55px;
    }
}

@media screen and (min-width: 1200px) {
    .carousel-content-wrapper.left {
        left: 120px;
    }
    .carousel-header-text {
        padding: 65px 15px 5px 5px;
    }
    .ccSave-fix-left {
        text-align: left;
        padding-left: 70px;
    }
    .ccSave-fix-right {
        text-align: right;
        padding-right: 70px;
    }
    .fix-left {
        margin-left: 28px;
    }
    .form-paleBlue {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .loc-form {
        margin-right: 5px;
    }
    .loc-pull-up {
        margin-top: 20px;
        padding-left: 10px;
    }
    div#locText::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 67px;
        width: 0px;
        left: 137px;
        top: 0px;
        z-index: 500;
    }
    div#locText::after {
        content: " ";
        position: absolute;
        border-bottom: 3px solid #6A95B5;
        height: 0px;
        width: 40px;
        left: 120px;
        top: 65px;
    }
    div#ccSave::after {
        content: " ";
        position: absolute;
        border-bottom: 3px solid #6A95B5;
        height: 0px;
        width: 40px;
        left: 120px;
        top: 340px;
    }
    div#ccSave::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 200px;
        max-height: 200px;
        width: 0px;
        left: 137px;
        top: 340px;
    }
    div#continue::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 36px;
        left: 137px;
        top: -30px;
    }
    div#continue::after {
        content: " ";
        position: absolute;
        border-left: 3px solid rgba(211,228,204,1);
        height: 30px;
        left: 137px;
        top: 55px;
    }
}

