@charset "UTF-8";

/*
 * resre
 * report.css
 *
 * Description - Contains CSS classes and settings for the damage assessment report.
 *
 * Author:      John Arnold <john@jdacsolutions.com>
 * Link:           https://jdacsolutions.com
 *
 * Created:             Jun 8, 2018 4:32:02 PM
 * Last Updated:    Date 
 * Copyright            Copyright 2018 JDAC Computing Solutions All Rights Reserved
 */

hr {
    border-top: 2px solid var(--blue);
    color: #004A80;
}
div > hr {
    margin-top: 14.5%;
    margin-left: -5%;
    border-top: 2px solid var(--blue);
    border-top: 2px solid #004A80;
}

.wt-content-wrapper.left {
    width: 100%;
    left: 0%;
}
.container {
    width: 100%;
}
.rpt-wrapper {
    margin-right: auto;
}
.characteristics-wrapper {
    bottom: 0px;
}
/* Page heights by breakpoints */
.characteristics-inner {
    position: relative;
    width: 100%;
    height: 3850px; 
    overflow: hidden;
}
@media screen and (min-width: 360px) {
    .characteristics-inner {
         height: 4100px; 
    }
}
@media screen and (min-width: 480px) {
    .characteristics-inner {
         height: 4200px; 
    }
}
@media screen and (min-width: 600px) {
    .characteristics-inner {
        height: 4500px; 
    }
}
@media screen and (min-width: 768px) {
    .characteristics-inner {
        height: 4800px;
    }
}
@media screen and (min-width: 800px) {
    .characteristics-inner {
        height: 4800px;
    }
}
@media screen and (min-width: 1024px) {
    .characteristics-inner {
        height: 3900px; 
    }
}
@media screen and (min-width: 1280px) {
    .characteristics-inner {
        height: 4000px; 
    }
}
@media screen and (min-width: 1366px) {
    .characteristics-inner {
        height: 4090px;
    }
}
@media screen and (min-width: 1440px) {
    .characteristics-inner {
        height: 7250px;
    }
}
/* Page Elements */
.bottom-nav {
    margin-right: auto;
}
.bottom-text {
    margin-top: 25px;
    text-align: center;
}
.ccButtons {
    top: 15px;
}
.ccButton-first, .ccButton-last, .ccButton-middle {
    margin-left: 12%;
}
.ccButtons > a.mid-button-sand {
    width: 85%;
}
.ccSave {
    height: 175px;
    padding: 0px;
}

.chars-border-middle-wt-1, .chars-border-middle-wt-2, 
.chars-border-middle-wt-3, .chars-border-middle-wt-4 {
    margin-left: 8.25%;
}
.chars {
    margin-left: -20px;
}
.chars-bumper {
    margin-left: 10%;
}
.chars-desc {
    margin-left: 12.5%;
    margin-top: 1%;
    padding-right: 62px;
}
.chars-h4 {
    font-size: 20px;
    margin-left: 22%;
}

.complete-down {
    padding-top: 11px;
}
.costs {
    background-color: var(--blue);
    background-color: #004A80;
    border-radius: 0 10px 10px 0;
}
.mit-cost, .mit-cost-small {
    position: absolute;
    background-color: var(--slate);
    background-color: #1A2D3C;
    border: 1px solid var(--lightGray);
    border: 1px solid #D8D8D8;
    border-radius: 10px 0 0 10px;
    padding: 40px 0 35px 60px;
}
.mit-cost-small {
    margin-top: 230%;
    width: 320px;
    padding: 60px 50px 60px 40px;
    right: 0px;
}

.mit-cost h4 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.rating {}
.rating-marker {
    padding-bottom: 30px;
    padding-left: 25px;
}
.rbuttons {
    padding-bottom: 10px;
}
.rbuttons > a.mid-button-sand {
    width: 85%;
}
.rbutton-middle, .rbutton-last, .rbutton-first {
    margin-left: 10%;
}
.recommendations {
    background-color: var(--blue);
    background-color: #004A80;
    border-radius: 0px 10px 10px 0px;
}
.rec-desc {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
}

.rec-resources {
    padding-top: 0px;
    padding-bottom: 40px;
    font-size: 16px;
}
.report-details {
    background-color: var(--white);
    background-color: #FFFFFF;
    margin-right: -15px;
}
.report-details > div > hr {
    margin-top: 14.5%;
    margin-left: -5%;
    border-top: 2px solid var(--blue);
    border-top: 2px solid #004A80;
}
.report-header {
    background-color: var(--slate);
    background-color: #1A2D3C;
}
.report-summary {
    background-color: var(--blue);
    background-color: #004A80;
}
.report-header, .report-summary, .report-details {
    margin-right: 0px;
    margin-left: 0px;
}
.report-summary, .report-details {
    padding-top: 60px;
    padding-bottom: 100px;
}
.report-summary {
    height: 1165px;
}

.report-slider {
    max-width: 90%;
}
.report-title {
    text-transform: uppercase;
    margin-top: -11.5%;
    margin-left: 12.5%;
    padding-right: 0px;
}
.resources {
    background-color: var(--blue);
    background-color: #004A80;
    border-radius: 0 10px 10px 0;
}
.recommendations, .resources {
    margin-top: 8%;
    margin-left: 8.5%;
}
.costs, .recommendations, .resources {
    font-size: 16px;
    font-weight: 700;
    padding-right: 0;
    margin-left: 8.5%;
}
.retrofits-header {
    position: absolute;
    background-color: var(--slate);
    background-color: #1A2D3C;
    border-radius: 0 10px 10px 0;
    padding: 32px 80px;
}
.retrofits-header {
        margin-top: -30%;
        margin-left: 8.75%;
        font-size: 24px;
        line-height: 32px;
        font-weight: 300;
        padding: 15px 20px;
}
.retro-hr {}
.retrofits-icon {
    margin-top: -3%;
    margin-left: 2%;
}
.retrofits-img {
    max-width: 200%;
    width: 200%;
}
.retrofits-title {
    margin-top: -4%;
    padding-left: 20px;
}
.risk {
    margin-left: 12.5%;
    margin-top: 0%;
    padding-bottom: 40px;
    padding-right: 20px;
}
.section-padding {
    padding-bottom: 40px;
}
.summary-desc {
    margin-left: -5%;
    margin-top: 0%;
    padding-bottom: 40px;
}
.summary-header {
    margin-top: 0%;
    margin-left: -14%;
}
.tagline {
    margin-top: 30px;
}
.topic {
    margin-left: -4%;
}

/* Report Screens Vertical Line Divs */
/* Line Placements -
    -wt-1 - Top of Page to top marker in Report Header Section.
    -wt-2 - Bottom of tmarker in Report Header section to  top of marker in Hurricant Cat. selection section.
    -wt-3 - Bottom of marker in Hurricane Cat. selection section to start of 'Suggested Retrofits' section (Report Detail)'
    -wt-4 - Top of Report Detail through end of report detail.
*/
.chars-border-middle-wt-1, .chars-border-middle-wt-2,
.chars-border-middle-wt-3, .chars-border-middle-wt-4 {
    position: absolute;
    border: none;
    z-index: 0;
}
.chars-border-middle-wt-1, .chars-border-middle-wt-2, 
.chars-border-middle-wt-3 {
    border-left: 2px solid var(--lightGray);
    border-left: 2px solid #D8D8D8;
}
.chars-border-middle-wt-4 {
    border-left: 2px solid var(--lightBlue);
    border-left: 2px solid #6A95B5;
}
.chars-border-middle-wt-1 {
    height: 2%;
    margin-top: -40%;
}
    .chars-border-middle-wt-2 {
    height: 7%;
    margin-top: 8%;
}
.chars-border-middle-wt-3 {
    height: 13%;
    margin-top: 9%;
}
.chars-border-middle-wt-4 {
    height: 70%;
    margin-top: -19%;
}

@media screen and (min-width: 360px) {
    .ccButton-first, .ccButton-last, .ccButton-middle {
        margin-left: 10%;
    }
    .chars {
        margin-left: -22px;
    }
    .chars-border-middle-wt-1 {
        margin-top: -34%;
    }
    .chars-border-middle-wt-3 {
        height: 14%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -28%;
    }
    .mit-cost-small {
        margin-top: 200%;
    }
    .retrofits-header {
        margin-top: -34%;
        margin-left: 9%;
    }
    .retrofits-img {
        max-width: 185%;
        width: 185%;
    }
    .retrofits-title {
        padding-left: 25px;
    }
    .report-details {
        padding-top: 100px;
    }
}

@media screen and (min-width: 375px) {
    .ccButtons {
        top: 15px;
    }
    .ccButton-first, .ccButton-last, .ccButton-middle {
        margin-left: 15%;
    }
    .ccButtons > a.mid-button-sand {
        width: 85%;
    }
    .chars {
        margin-top: 5%;
        margin-left: 14.25%;
    }
    .chars-border-middle-wt-1, .chars-border-middle-wt-2, 
    .chars-border-middle-wt-3, .chars-border-middle-wt-4 {
        margin-left: 12.5%;
    }
    .chars-border-middle-wt-1 {
        height: 3%;
        margin-top: -32%;
    }
    .chars-border-middle-wt-2 {
        height: 6.5%;
        margin-top: 10%;
    }
    .chars-border-middle-wt-3 {
        height: 12.5%;
        margin-top: 12%;
    }
    .chars-border-middle-wt-4 {
        height: 71.5%;
        margin-top: -21.5%;
    }
    .chars-bumper {
        margin-left: 13.5%;
    }
    .chars-desc {
        margin-left: 16.5%;
        margin-top: 1%;
        padding-right: 62px;
    }
    .chars-h4 {
        font-size: 22px;
        margin-left: 22%;
    }
    .complete-down {
        padding-top: 8px;
    }
    .costs {
        margin-top: 2%;
        margin-left: 13%;
    }
    .marker-sand, .marker-white, .marker-mustard {
        margin-left: -109%;
    }
    .mit-cost-small {
        margin-top: 175%;
        width: 320px;
        padding: 60px 50px 60px 40px;
    }
    .rating-marker {
        padding-bottom: 30px;
        padding-left: 30px;
    }
    .rbuttons {
        padding-bottom: 10px;
    }
    .rbuttons > a.mid-button-sand {
        width: 85%;
    }
    .rbutton-middle, .rbutton-last, .rbutton-first {
        margin-left: 14%;
    }
    .recommendations, .resources {
        margin-top: 8%;
        margin-left: 13%;
    }
    .recommendations, .costs, .resources {
        padding: 10px 24px;
    }
    .rec-desc {
        padding-top: 5px;
        padding-bottom: 15px;
        font-size: 16px;
        line-height: 22px;
    }
    .rec-resources {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .resources {
        width: 65.5%;
    }
    .report-summary, .report-details {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .report-details  > div  > hr {
        margin-top: 14.5%;
        margin-left: -5%;
    }
    .report-slider {
        max-width: 80%;
        margin-left: 3.5%;
    }
    .report-summary {
        height: 1100px;
    }
    .report-title {
        margin-top: -11.5%;
        margin-left: 16.5%;
        padding-right: 0px;
    }
    .retrofits-header {
        margin-top: -30%;
        margin-left: 13%;
        font-size: 26px;
        line-height: 32px;
        font-weight: 300;
        padding: 22px 45px 22px 20px;
    }
    .retrofits-icon {
        margin-top: 0%;
        margin-left: -15%;
    }
    .retrofits-img {
        max-width: 200%;
        width: 200%;
    }
    .retrofits-title {
        margin-top: 1%;
        padding-left: 40px;
    }
    .risk {
        margin-left: 16%;
        margin-top: -2%;
        padding-bottom: 40px;
        padding-right: 15px;
    }
    .summary-header {
        margin-top: -9%;
        margin-left: 0%;
    }
    .section-padding {
        padding-bottom: 40px;
    }
    .summary-desc {
        margin-left: -1%;
        margin-top: 0%;
        padding-bottom: 40px;
    }
    .tagline {
        margin-top: 30px;
    }
    .topic {
        margin-left: 0%;
    }    
}

@media screen and (min-width: 411px) {
    .chars-border-middle-wt-1, .chars-border-middle-wt-2,
    .chars-border-middle-wt-3, .chars-border-middle-wt-4 {
        margin-left: 11.25%;
    }
    .chars-border-middle-wt-3 {
        margin-top: 10%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -19.5%;
        height: 72.5%;
    }
    .report-title {
        margin-top: -9.5%;
        padding-right: 35px;
    }
    .mit-cost-small {
        margin-top: 150%;
        width: 345px;
    }
    .report-summary {
        height: 1050px;
    }
    .retrofits-header {
        margin-left: 11.75%;
        margin-top: -28%;
    }
    .recommendations, .resources, .costs {
        margin-left: 11.75%;
    }
    .rec-resources {
        padding-bottom: 40px;
    }
    .ccButton-first, .ccButton-last, .ccButton-middle {
        margin-left: 11%;
    }
    .tagline {
        margin-top: 50px;
    }
}

@media screen and (min-width: 414px) {
    .chars {
        margin-left: 14.5%;
    }
    .chars-border-middle-wt-3 {
        height: 11.5%;
    }
    .mit-cost-small {
        margin-top: 145%;
    }
}

@media screen and (min-width: 480px) {
    .chars {
        margin-left: 16.5%;
    }
    .chars-border-middle-wt-3 {
        height: 11.25%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -16.75%;
        height: 73%;
    }
    .report-title {
        margin-top: -7.25%;
    }
    .summary-header {
        margin-top: -7%;
    }
    .risk {
        padding-right: 45px;
    }
    .risk.report-title {
        padding-top: 30px;
    }
    .mit-cost-small {
        width: 400px;
        margin-top: 134%;
    }
    .retrofits-header {
        margin-top: -24%;
    }
    .retrofits-icon {
        margin-top: 1%;
        margin-left: -18%;
    }
    .retrofits-img {
        max-width: 150%;
        width: 150%;
    }
    .retrofits-title {
        margin-top: -9%;
    }
}

@media screen and (min-width: 600px) {
    .bottom-text {
        padding-bottom: 10px;
    }
    .ccSave {
        height: 200px;
    }
    .chars {
        margin-left: 19.25%;
    }
    .chars-border-middle-wt-2 {
        height: 5.25%;
    }
    .chars-border-middle-wt-3 {
        margin-top: 10%;
        height: 12%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -13.5%;
        height: 72.5%;
    }
    .recommendations, .resources, .costs {
        margin-left: 11.5%;
    }
    .report-title {
        margin-top: -5.25%;
    }
    .retrofits-header {
        margin-left: 11.6%;
    }
    .summary-header {
        margin-top: -6%;
        margin-left: -1%;
    }
    .chars-bumper {
        margin-left: 15.5%;
    }
    .risk {
        margin-top: 1%;
    }
    .report-summary {
        height: 1125px;
    }
    .mit-cost-small {
        width: 450px;
        margin-top: 125%;
        padding: 30px 50px 30px 75px;
    }
    .retrofits-header {
        margin-top: -20%;
    }
    .retrofits-icon {
        margin-left: -21%;
    }
    .retrofits-img {
        max-width: 125%;
        width: 125%;
    }
    .retrofits-title {
        margin-top: -8%;
    }
    .costs, .recommendations, .resources {
        font-size: 22px;
    }
    .rec-desc {
        font-size: 20px;
        line-height: 24px;
        padding-right: 60px;
    }
    .rec-resources {
        font-size: 20px;
    }
}
@media screen and (min-width: 768px) {
    .bottom-text {
        font-size: 20px;
        margin-top: 12px;
    }
    .ccButtons {
        top: -15%;
    }
    .ccButtons > a.mid-button-sand {
        width: auto;
    }
    .ccButton-first {
        margin-left: -8%;
    }
    .ccButton-middle {
        margin-left: 5%;
    }
    .ccSave {
        padding-top: 50px;
        height: 140px;
    }
    .chars {
        margin-left: 21.3%;
    }
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4 {
        display: block;
    }
    .chars-border-middle-wt-1 {
        margin-top: -20%;
        height: 2.25%;
    }
    .chars-border-middle-wt-2 {
        height: 5%;
        margin-top: 8%;
    }
    .chars-border-middle-wt-3 {
        margin-top: 8%;
        height: 11.25%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -10.4%;
        height: 74%;
    }
    .chars-h4 {
        font-size: 44px;
        margin-left: 4%;
    }
    .mit-cost {
        margin-top: 4%;
        margin-left: 79%;
        width: 300px;
    }
    .mit-cost-small {
        width: 650px;
        margin-top: 98%;
    }
    .rating-marker {
        padding-left: 35px;
    }
    .rbutton-first {
        margin-left: 16%;
    }
    .rbutton-middle, .rbutton-last {
        margin-left: 0%;
    }
    .rbuttons {
        padding-bottom: 40px;
    }
    .rbuttons > a.mid-button-sand {
        width: auto;
    }
    .recommendations, .resources, .costs {
        padding: 10px 24px 10px 45px;
    }
    .rec-desc {
        font-size: 22px;
        line-height: 30px;
    }
    .report-summary {
        height: 1175px;
    }
    .retrofits-header {
        margin-top: -15%;
        margin-left: 11.5%;
        font-size: 30px;
        padding: 22px 45px !important;
    }
    .retrofits-img {
        max-width: 85%;
    }
    .retrofits-title {
        padding-left: 33%;
    }
    .risk {
        margin-top: 0%;
        padding-right: 25%;
    }
    .summary-header {
        margin-top: -4.5%;
        margin-left: 13%;
    }
    .summary-desc {
        margin-top: 2%;
        padding-bottom: 60px;
        padding-right: 25%;
    }
    .topic {
        margin-left: 13%;
        margin-top: 5px;
    }
    .tagline {
        margin-top: 75px;
    }
}

@media screen and (min-width: 800px) {
    .ccButton-first {
        margin-left: -5%;
    }
    .chars {
        margin-left: 19.8%;
    }
    .chars-border-middle-wt-1 {
        margin-top: -19%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -10%;
        height: 75%;
    }
    .chars-bumper {
        margin-left: 15%;
    }
    .chars-desc {
        margin-left: 17%;
        padding-right: 12%;
        padding-bottom: 40px;
    }
    .complete-down {
        padding-top: 6px;
    }
    .mit-cost-small {
        margin-top: 100%;
    }
    .rating-marker {
        padding-left: 40px;
        margin-right: 5%;
    }
    .rbutton-first {
        margin-left: 19%;
    }
    .recommendations, .resources, .costs {
        margin-left: 11.5%;
        padding: 22px 45px;
    }
    .rec-desc {
        padding-right: 15%;
        padding-top: 30px;
    }
    .report-title {
        margin-top: -8.25%;
        font-size: 22px;
        margin-left: 17%;
    }
    .retrofits-icon {
        margin-top: 4%;
    }
    .retrofits-title {
        padding-left: 0%;
    }
    .risk {
        margin-left: 17%;
        padding-bottom: 80px;
    }
    .summary-header {
        margin-top: -6%;
        margin-left: 14%;
    }
    .summary-desc {
        padding-right: 10%;
        margin-left: 0%;
        padding-left: 23px;
    }
    .topic {
        margin-left: 14%;
        margin-top: -30px;
    }
}
.mit-cost {
    right: 0px;
}
@media screen and (min-width: 1024px) {
    .ccButtons {
        top: -25%;
    }
    .chars {
        margin-left: 6.9%;
    }
    .chars-bumper {
        margin-left: 14%;
    }
    .chars-h4 {
        margin-top: 0%;
        margin-left: 3.5%;
    }
    .chars-border-middle-wt-1 {
        height: 4%;
    }
    .chars-border-middle-wt-2 {
        height: 6%;
    }
    .chars-border-middle-wt-3 {
        height: 11.5%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -8%;
        height: 73%;
    }
    .costs {
        margin-top: 2%;
        margin-left: -1%;
    }
    .marker-sand, .marker-white, .marker-mustard {
        margin-left: 0%;
    }
    .mit-cost {
        margin-top: 5%;
    }
    .rating-marker {
        padding-left: 5%;
        margin-right: 0%;
    }
    .recommendations, .resources {
        margin-top: 2%;
        margin-left: 11.25%;
    }
    .rec-desc {
        padding-top: 20px;
        padding-bottom: 15px;
        padding-right: 15px;
    }
    .rec-desc-no-bumper {
        margin-left: 0px;
    }
    .rec-resources {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .report-slider {
        max-width: 90%;
        margin-left: 1.5%;
    }
    .report-title {
        margin-top: -6%;
    }
    .resources {
        width: 65.5%;
    }
    .retrofits-header {
        padding: 32px 80px;
        font-size: 36px;
        line-height: 44px;
        margin-top: -13%;
        margin-left: 11.4%;
    }
    .retrofits-img {
        max-width: 175%;
        width: 175%;
    }
    .retrofits-icon {
        margin-top: 4%;
        margin-left: -8%;
    }
    .retrofits-title {
        margin-top: 5.5%;
        margin-left: 5%;
    }
    .retro-hr {
        padding-right: 0px;
        margin-left: -5%;
        margin-top: 1.5%;
    }
    .risk.report-title {
        padding-top: 70px;
    }
    .summary-header {
        margin-top: -5%;
    }
    .summary-desc {
        margin-top: -4%;
        padding-right: 40%;
        margin-left: 16%;
        padding-left: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .bottom-text {
        font-size: 24px;
        line-height: 28px;
        margin-top: 10px;
    }
    .chars {
        margin-left: 7.75%;
    }
    .chars-bumper {
        margin-left: 13.5%;
    }
    .chars-border-middle-wt-1 {
        height: 5%;
    }
    .chars-border-middle-wt-2 {
        margin-top: 9%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -6.25%;
        height: 74%;
    }
    .mit-cost {
        width: 350px;
        margin-top: 3%;
    }
    .rating-marker {
        margin-left: 18%;
        padding-left: 0%;
        margin-right: -18%;
    }
    .recommendations, .resources {
        margin-left: 11.25%;
    }
    .report-title {
        margin-top: -5%;
    }
    .retrofits-header {
        margin-top: -11%;
    }
    .retrofits-icon {
        margin-top: 3%;
    }
    .retro-hr {
        margin-top: 1%;
    }
    .summary-header {
        margin-top: -3.75%;
    }
    .report-slider {
        max-width: 75%;
    }
    .tagline {
        margin-top: 10%;
    }
}

@media screen and (min-width: 1366px) {
    .chars {
        margin-left: 8%;
    }
    .chars-border-middle-wt-1 {
        height: 3%;
        margin-top: -11%;
    }
    .chars-border-middle-wt-3 {
        height: 10.5%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -6%;
    }
    .rbutton-first {
        margin-left: 18%;
    }
    .rbutton-last, .rbutton-middle {
        margin-left: -6%;
    }
    .recommendations, .resources {
        margin-left: 11.4%;
    }
    .report-title {
        margin-top: -5.25%;
    }
    .retrofits-header {
        margin-left: 11.4%;
        margin-top: -10%;
    }
    .summary-header {
        margin-top: -3.5%;
    }
    .wt-content-wrapper.left {
        top: 150px;
    }
}

@media screen and (min-width: 1440px) {
    .ccButton-first {
        margin-left: -10%;
    }
    .chars {
        margin-left: 8.1%;
    }
    .chars-border-middle-wt-2 {
        height: 6%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -5.75%;
    }
    .recommendations, .resources, .costs {
        font-size: 36px;
        line-height: 42px;
        padding: 26px 97px 26px 45px;
    }
    .rec-desc-no-bumper {
        margin-left: -1.1%;
    }
    .report-title {
        margin-top: -5%;
    }
    .retrofits-icon {
        margin-left: -9%;
    }
    .retro-hr {
        margin-left: -5%;
    }
    .retrofits-header {
        font-size: 48px;
        line-height: 56px;
    }
    .retrofits-title h6 {
        font-size: 36px;
        line-height: 42px;
    }
}

@media screen and (min-width: 1536px) {
    .ccButtons {
        top: 0;
        margin-top: -1%;
    }
    .chars {
        margin-left: 8.3%;
    }
    .chars-border-middle-wt-2 {
        margin-top: 8.5%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -5.25%;
    }
    .report-title {
        margin-top: -4%;
    }
    .retrofits-header {
        margin-top: -9%;
    }
}

@media screen and (min-width: 1600px) {
    .chars {
        margin-left: 8.5%;
    }
    .chars-border-middle-wt-1 {
        margin-top: -10%;
    }
    .chars-border-middle-wt-2 {
        height: 6%;
    }
    .chars-border-middle-wt-3 {
        height: 10%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -5%;
    }
    .report-title {
        margin-top: -4.5%;
    }
    .retrofits-icon {
        margin-top: 2%;
        margin-left: -10%;
    }
    .retrofits-title {
        margin-left: 4%;
    }
    .summary-desc {
        margin-top: -2%;
        margin-left: 16.25%;
    }
}

@media screen and (min-width: 1680px) {
    .chars {
        margin-left: 8.6%;
    }
    .chars-border-middle-wt-1 {
        height: 4%;
    }
    .chars-border-middle-wt-2 {
        margin-top: 8%;
    }
    .chars-border-middle-wt-3 {
        height: 10%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -4.8%;
        height: 74%;
    }
    .recommendations, .resources {
        margin-left: 11.3%;
    }
    .retrofits-header {
        margin-top: -8%;
        margin-left: 11.35%;
    }
}

@media screen and (min-width: 1920px) {
    .bottom-text {
        font-size: 28px;
        line-height: 32px;
        margin-top: 0px;
    }
    .chars {
        margin-left: 8.9%;
    }
    .chars-border-middle-wt-3 {
        height: 9.5%;
    }
    .chars-border-middle-wt-4 {
        margin-top: -4.25%;
    }
    .mit-cost {
        margin-left: 81.5%;
    }
    .recommendations, .resources {
        margin-left: 11.3%;
    }
    .report-title {
        margin-top: -3.5%;
    }
    .retrofits-header {
        margin-top: -7%;
    }
    .retro-hr {
        margin-top: 0.25%;
    }
    .retrofits-img {
        width: 150%;
    }
    .summary-header {
        margin-top: -2.5%;
    }
}