@charset "UTF-8";
/* CSS File for Wall Type Characteristics */

.characteristics-inner {
    position: relative;
    width: 100%;
    height: 1850px;
    overflow: hidden;
}
@media screen and (min-width: 360px) {
    .characteristics-inner {
        height: 1900px;
    }
}
@media screen and (min-width: 480px) {
    .characteristics-inner {
        height: 2300px;
    }
}
@media screen and (min-width: 600px) {
    .characteristics-inner {
        height: 2650px;
    }
}
@media screen and (min-width: 768px) {
    .characteristics-inner {
        height: 900px;
    }
}
@media screen and (min-width: 800px) {
    .characteristics-inner {
        height: 925px;
    }
}
@media screen and (min-width: 1024px) {
    .characteristics-inner {
        height: 975px;
    }
}
@media screen and (min-width: 1280px) {
    .characteristics-inner {
        height: 1050px;
    }
}
@media screen and (min-width: 1366px) {
    .characteristics-inner {
        height: 1100px;
    }
}
@media screen and (min-width: 1440px) {
    .characteristics-inner {
        height: 1200px;
    }
}
@media screen and (min-width: 1536px) {
    .characteristics-inner {
        height: 1325px;
    }
}

/* Characteristics Screens Vertical Lines */
/* Wall Types */
.chars-border-middle-wt-1 {
    position: absolute;
    border: none;
    border-left: 3px solid var(--lightBlue);
    height: 10%;
    margin-top: -56%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-1 {
        height: 11%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-1 {
        margin-top: -60%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-1 {
        margin-top: -46%;
        height: 11%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-1 {
        margin-top: -41%;
        height: 12%;
    }
}
@media screen and (min-width: 768px) {
    .chars-border-middle-wt-1 {
        margin-top: -6.5%;
        height: 20%;
    }
}
@media screen and (min-width: 800px) {
    .chars-border-middle-wt-1 {
        margin-top: -12.5%;
        height: 25%;
    }
}
@media screen and (min-width: 1280px) {
    .chars-border-middle-wt-1 {
        margin-top: -12.5%;
        height: 32%;
    }
}
@media screen and (min-width: 1440px) {
    .chars-border-middle-wt-1 {
        margin-top: -12.5%;
        height: 36%;
    }
}
.chars-border-middle-wt-2 {
    position: absolute;
    border: none;
    border-left: 3px solid var(--lightBlue);
    height: 20.75%;
    margin-top: -5%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-2 {
        height: 17.55%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-2 {
        height: 17.05%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-2 {
        height: 17%;
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-2 {
        height: 16.85%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-2 {
        height: 13.6%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-2 {
        height: 11.95%;
    }
}
@media screen and (min-width: 768px) {
    .chars-border-middle-wt-2 {
        height: 90%;
    }
}
@media screen and (min-width: 1280px) {
    .chars-border-middle-wt-2 {
        height: 93%;
    }
}
@media screen and (min-width: 1366px) {
    .chars-border-middle-wt-2 {
        height: 97%;
    }
}
.chars-border-middle-wt-3 {
    position: absolute;
    border: none;
    border-left: 3px solid var(--lightBlue);
    height: 3.8%;
    margin-top: 73.75%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-3 {
        height: 3.9%;
        margin-top: 71.75%
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-3 {
        height: 5.9%;
        margin-top: 81%
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-3 {
        margin-top: 81.5%
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-3 {
        margin-top: 81.8%
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-3 {
        margin-top: 91%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-3 {
        margin-top: 83.1%;
    }
}
.chars-border-middle-wt-4 {
    position: absolute;
    border: none;
    border-left: 3px solid var(--lightBlue);
    height: 3.8%;
    margin-top: 171%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-4 {
        margin-top: 165.75%;
        height: 3.9%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-4 {
        margin-top: 187.5%;
        height: 5.9%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-4 {
        margin-top: 188.25%;
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-4 {
        margin-top: 188.75%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-4 {
        margin-top: 205.2%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-4 {
        margin-top: 185.4%;
    }
}
.chars-border-middle-wt-4a {
    position: absolute;
    border: none;
    border-left: 3px solid var(--lightBlue);
    height: 4.9%;
    margin-top: 268%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-4a {
        margin-top: 260%;
        height: 4.9%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-4a {
        margin-top: 294.5%;
        height: 5%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-4a {
        margin-top: 295%;
        height: 4.95%;
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-4a {
        margin-top: 296%;
        height: 4.95%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-4a {
        margin-top: 319%;
        height: 4.3%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-4a {
        margin-top: 287.5%;
        height: 4.05%;
    }
}
.chars-border-middle-wt-4b {
    position: absolute;
    border: none;
    border-left: 3px solid var(--lightBlue);
    height: 3.9%;
    margin-top: 371.6%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-4b {
        margin-top: 360.2%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-4b {
        margin-top: 407.8%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-4b {
        margin-top: 408.75%;
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-4b {
        margin-top: 409.5%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-4b {
        margin-top: 438.5%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-4b {
        margin-top: 394%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4,
    .chars-border-middle-wt-4b {
        height: 4%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4,
    .chars-border-middle-wt-4b {
        height: 3.9%;
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4,
    .chars-border-middle-wt-4b {
        height: 3.95%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4,
    .chars-border-middle-wt-4b {
        height: 3.5%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4,
    .chars-border-middle-wt-4b {
        height: 3.3%;
    }
}
.chars-border-middle-wt-5 {
    position: absolute;
    border: none;
    border-left: 3px solid var(--lightBlue);
    height: 6%;
    margin-top: -23.25%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-5 {
        margin-top: -22%;
        height: 4%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-5 {
        margin-top: -25.4%;
        height: 7%;
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-5 {
        margin-top: -25%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-5 {
        margin-top: -22.5%;
        height: 10%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-5 {
        margin-top: -19%;
        height: 8%;
    }
}
