@charset "UTF-8";
/* CSS File for Wall Type Characteristics */

@media screen and (max-width: 767px) {
    .characteristics-inner {
        height: 1775px;
    }
}

@media screen and (min-width: 768px) {
    .characteristics-inner {
        height: 950px;
    }
    div#continueButton::before {
        top: 950px;  /* Always == height of characteristics-inner */
    }
}

