@charset "UTF-8";
/* CSS File for Wall Type Characteristics */

.characteristics-inner {
    position: relative;
    width: 100%;
    height: 1250px;
    overflow: hidden;
}
@media screen and (min-width: 480px) {
    .characteristics-inner {
        height: 1500px;
    }
}
@media screen and (min-width: 600px) {
    .characteristics-inner {
        height: 1750px;
    }
}
@media screen and (min-width: 768px) {
    .characteristics-inner {
        height: 615px;
    }
}
@media screen and (min-width: 800px) {
    .characteristics-inner {
        height: 640px;
    }
}
@media screen and (min-width: 1024px) {
    .characteristics-inner {
        height: 715px;
    }
}
@media screen and (min-width: 1280px) {
    .characteristics-inner {
        height: 775px;
    }
}
@media screen and (min-width: 1366px) {
    .characteristics-inner {
        height: 850px;
    }
}
@media screen and (min-width: 1600px) {
    .characteristics-inner {
        height: 875px;
    }
}

/* Characteristics Screens Vertical Lines */
/* Wall Types */
.chars-border-middle-wt-1,
.chars-border-middle-wt-2,
.chars-border-middle-wt-3,
.chars-border-middle-wt-4,
.chars-border-middle-wt-4a,
.chars-border-middle-wt-5 {
    position: absolute;
    border: none;
    border-left: 3px solid var(--lightBlue);
    border-left: 3px solid #6A95B5;
}
.chars-border-middle-wt-1 {
    height: 13%;
    margin-top: -49%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-1 {
        height: 13%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-1 {
        margin-top: -50%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-1 {
        margin-top: -46%;
        height: 11%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-1 {
        margin-top: -41%;
        height: 12%;
    }
}
@media screen and (min-width: 800px) {
    .chars-border-middle-wt-1 {
        margin-top: -12.5%;
        height: 25%;
    }
}
@media screen and (min-width: 1280px) {
    .chars-border-middle-wt-1 {
        margin-top: -12.5%;
        height: 32%;
    }
}
@media screen and (min-width: 1440px) {
    .chars-border-middle-wt-1 {
        margin-top: -12.5%;
        height: 36%;
    }
}
.chars-border-middle-wt-2 {
    height: 30.4%;
    margin-top: -5%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-2 {
        height: 26.3%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-2 {
        height: 24.2%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-2 {
        height: 24.15%;
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-2 {
        height: 24%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-2 {
        height: 20.85%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-2 {
        height: 18.5%;
    }
}
@media screen and (min-width: 1280px) {
    .chars-border-middle-wt-2 {
        height: 93%;
    }
}
@media screen and (min-width: 1366px) {
    .chars-border-middle-wt-2 {
        height: 97%;
    }
}
.chars-border-middle-wt-3 {
    height: 5.7%;
    margin-top: 73.5%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-3 {
        height: 5.9%;
        margin-top: 71.75%
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-3 {
        height: 6%;
        margin-top: 81%
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-3 {
        margin-top: 81%
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-3 {
        margin-top: 81.6%
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-3 {
        margin-top: 91.2%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-3 {
        margin-top: 83%;
    }
}
.chars-border-middle-wt-4 {
    height: 5.7%;
    margin-top: 170.5%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-4 {
        margin-top: 165.75%;
        height: 5.9%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-4 {
        margin-top: 187.5%;
        height: 6%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-4 {
        margin-top: 187.5%;
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-4 {
        margin-top: 188.2%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-4 {
        margin-top: 204.75%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-4 {
        margin-top: 185%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4 {
        height: 6%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4 {
        height: 5.2%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4 {
        height: 5.1%;
    }
}
.chars-border-middle-wt-4a {
    height: 4.85%;
    margin-top: 268%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-4a {
        margin-top: 260%;
        height: 5%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-4a {
        margin-top: 290.5%;
        height: 4.7%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-4a {
        margin-top: 291%;
        height: 4.7%;
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-4a {
        margin-top: 292.25%;
        height: 4.7%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-4a {
        margin-top: 317.5%;
        height: 4.3%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-4a {
        margin-top: 288.5%;
        height: 4.4%;
    }
}
.chars-border-middle-wt-5 {
    height: 10%;
    margin-top: -23.25%;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-5 {
        margin-top: -22%;
        height: 7%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-5 {
        margin-top: -25.5%;
        height: 11%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-5 {
        margin-top: -25.4%;
        height: 11%;
    }
}
@media screen and (min-width: 480px) {
    .chars-border-middle-wt-5 {
        margin-top: -22%;
        height: 10%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-5 {
        margin-top: -18.9%;
        height: 8%;
    }
}

