@charset "UTF-8";
/* CSS File for Wall Type Characteristics */

@media screen and (max-width: 767px) {
    .characteristics-inner {
        height: 1000px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .characteristics-inner {
        height: 775px;
    }
    .chars-header {
        margin-right: 60px;
    }
    .chars-header-text {
        margin-top: 20px;
        padding-left: 60px;
        padding-right: 120px;
        padding-bottom: 90px;
    }
    .wt-content-wrapper.left {
        top: 90px;
    }
    div#charSelectPanel::after {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 90px;
        width: 40px;
        left: 80px;
        top: 0;
    }
    div#charSelectPanel::before {
        content: " ";
        position: absolute;
        border-left: none;
        height: 100%;
        width: 0px;
        left: 80px;
        top: 0;
    }
    div#getStarted::before {
        content: " ";
        position: absolute;
        border-top: 3px solid #6A95B5;
        height: 90px;
        width: 40px;
        left: 60px;
        top: -20px;
    }
    div#getStarted::after {
        content: " ";
        position: absolute;
        border-top: 3px solid #6A95B5;
        height: 90px;
        width: 40px;
        left: 60px;
        top: 70px;
    }
    div#step1::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 600px;
        width: 0px;
        left: 65px;
        top: 90px;
    }
    div#continueButton::before {
        top: 775px;  /* Always == height of characteristics-inner */
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .characteristics-inner {
        height: 775px;
    }
    .chars-header {
        margin-right: 60px;
    }
    .chars-header-text {
        margin-top: 20px;
        padding-left: 60px;
        padding-right: 120px;
        padding-bottom: 90px;
    }
    .wt-content-wrapper.left {
        top: 90px;
    }
    div#charSelectPanel::after {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 90px;
        width: 40px;
        left: 80px;
        top: 0;
    }
    div#charSelectPanel::before {
        content: " ";
        position: absolute;
        border-left: none;
        height: 100%;
        width: 0px;
        left: 80px;
        top: 0;
    }
    div#getStarted::before {
        content: " ";
        position: absolute;
        border-top: 3px solid #6A95B5;
        height: 90px;
        width: 40px;
        left: 60px;
        top: -20px;
    }
    div#getStarted::after {
        content: " ";
        position: absolute;
        border-top: 3px solid #6A95B5;
        height: 90px;
        width: 40px;
        left: 60px;
        top: 100px;
    }
    div#step1::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 600px;
        width: 0px;
        left: 65px;
        top: 120px;
    }
    div#continueButton::before {
        top: 775px;  /* Always == height of characteristics-inner */
    }
}

@media screen and (min-width: 1200px)  {
    .characteristics-inner {
        height: 850px;
    }
    .chars-header {
        margin-right: 60px;
    }
    .chars-header-text {
        margin-top: 20px;
        padding-left: 60px;
        padding-right: 120px;
        padding-bottom: 90px;
    }
    .wt-content-wrapper.left {
        top: 90px;
    }
    div#charSelectPanel::after {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 90px;
        width: 40px;
        left: 80px;
        top: 0;
    }
    div#charSelectPanel::before {
        content: " ";
        position: absolute;
        border-left: none;
        height: 100%;
        width: 0px;
        left: 80px;
        top: 0;
    }
    div#getStarted::before {
        content: " ";
        position: absolute;
        border-top: 3px solid #6A95B5;
        height: 90px;
        width: 40px;
        left: 60px;
        top: -20px;
    }
    div#getStarted::after {
        content: " ";
        position: absolute;
        border-top: 3px solid #6A95B5;
        height: 90px;
        width: 40px;
        left: 60px;
        top: 100px;
    }
    div#step1::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #6A95B5;
        height: 700px;
        width: 0px;
        left: 65px;
        top: 120px;
    }
    div#continueButton::before {
        top: 850px;  /* Always == height of characteristics-inner */
    }
}
