@charset "UTF-8";
/*
 * resre
 * us-home.css
 *
 * Description - Enter a description of the file and its purpose.
 *
 * Author:      John Arnold <john@jdacsolutions.com>
 * Link:           https://jdacsolutions.com
 *
 * Created:             Jun 12, 2018 11:40:26 AM
 * Last Updated:    Date 
 * Copyright            Copyright 2018 JDAC Computing Solutions All Rights Reserved
 */
/* 
    Created on : Jun 12, 2018, 11:40:26 AM
    Author     : John Arnold <john@jdacsolutions.com>
*/

.cc {
    margin-right: 0px;
    margin-left: 0px;
    padding: 30px 0;
}
.chars-header-text {
    display: block;
}
.container {
    width: 100%;
}
.mid-button-mustard {
    padding: 5px 14px;
}
.questionairre {
    margin-right: 0px;
    margin-left: 0px;
}
.resre-img {}
.tagline {
    padding-top: 40px;
}
@media screen and (max-width: 767px) {
    .ccrow {
        margin-left: 0px;
        padding-left: 15px;
    }
    .chars-header-text, .get-started {
        font-size: 20px;
        line-height: 24px;
    }
    .chars-marker.chars {
        margin-left: 0px;
        padding-left: 0px;
    }
    .form-blue, .form-mustard {
        width: 80%;
        font-size: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .get-started {
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .home-title {
        margin-top: 20px;
    }
    .intro {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        max-width: 90%;
    }
    .learn-more {
        padding-left: 10px;
        max-width: 90%;
    }
    .marker-blue, .marker-mustard {
        max-width: none;
        margin-left: 5px;
    }
    .mid-button {
        padding-right: 0px;
        padding-left: 40px;
    }
    .mid-button-right {
        padding-left: 0px;
    }
    .mid-content {
        padding-bottom: 40px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .name-field-label {
        margin-top: -15px;
        margin-bottom: -2%;
        margin-left: 0px;
    }
    .nine-qs {
        padding: 40px;
    }
    .questionairre {
        padding: 50px 40px 20px 40px;
    }
    
    div#getStarted::after {
        content: " ";
        position: absolute;
        border-bottom: 2px solid #6A95B5;
        height: 40px;
        width: 40px;
        left: 0px;
    }
    div#markerA::before, div#markerC::before {
        content: " ";
        position: absolute;
        border-left: 2px solid #004A80;
        height: 75%;
        left: 19px;
        top: -25px;
    }
    div#markerB::before {
        content: " ";
        position: absolute;
        border-left: 2px solid #004A80;
        height: 80%;
        left: 19px;
        top: -27px;
    }
    div#markerB::after {
        content: " ";
        position: absolute;
        border-left: 2px solid #004A80;
        height: 75%;
        left: 19px;
        top: 30px;
    }
    div#markerC::after {
        content: " ";
        position: absolute;
        border-left: 2px solid #004A80;
        height: 135%;
        left: 19px;
        top: 30px;
    }
    div#continue::before {
        content: " ";
        position: absolute;
        border-left: 2px solid #004A80;
        height: 35px;
        left: 59px;
        top: -30px;
    }
}

@media screen and (min-width: 768px) and (max-width:  991px) {
    .ccrow {
        margin-left: 0px;
        padding-left: 70px;
    }
    .chars-header-text {
        font-size: 24px;
        line-height: 28px;
        margin-top: 0px;
    }
    .chars-marker.chars {
        margin-top: -15px;
        margin-left: -35px;
    }
    .form-blue, .form-mustard {
        margin-top: -10px;
        margin-bottom: 50px;
    }
    .get-started {
        padding-bottom: 75px;
        padding-left: 0px;
    }
    .home-title h1 {
        padding-bottom: 0px;
        text-transform: uppercase;
    }
    .intro {
        padding-left: 5px;
        padding-right: 20px;
        padding-bottom: 15px;
        max-width: 90%;
    }
    .learn-more {
        padding-left: 0px;
    }
    .marker-blue, .marker-mustard {
        width: 60px;
        height: 60px;
        padding: 13px 8px;
        margin-left: 18px;
    }
    .mid-button, .mid-button-right {
        margin-top: 40px;
    }
    .mid-button {
        text-align: center;
        padding-right: 0px;
    }
    .mid-button-right {
        text-align: left;
        padding-left: 0px;
    }
    .mid-button-sand {
        margin-left: 2px;
    }
    .mid-content {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .name-field-label {
        margin-bottom: 0px;
        margin-top: -25px;
    }
    .nine-qs {
        padding: 40px 0px 40px 85px;
        font-size: 20px;
        line-height: 25px;
    }
    .questionairre {
        padding: 50px 40px 20px 85px;
    }
    div#getStarted::after {
        content: " ";
        position: absolute;
        border-bottom: 3px solid #6A95B5;
        height: 42px;
        width: 60px;
        left: 0px;
    }
    div#markerA::before, div#markerC::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 75%;
        left: 62px;
        top: -45px;
    }
    div#markerB::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 60%;
        left: 62px;
        top: -38px;
    }
    div#markerC::after {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 100%;
        left: 62px;
        top: 60px;
    }
    div#continue::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 35px;
        left: 112px;
        top: -30px;
    }
}

@media screen and (min-width: 992px) and (max-width:  1199px) {
    .ccrow {
        margin-left: 0px;
        padding-left: 70px;
    }
    .chars-header-text {
        font-size: 24px;
        line-height: 28px;
        margin-top: 0px;
    }
    .chars-marker.chars {
        margin-top: -15px;
        margin-left: -35px;
    }
    .form-blue, .form-mustard {
        margin-top: -10px;
        margin-bottom: 50px;
    }
    .get-started {
        padding-bottom: 75px;
        padding-left: 0px;
    }
    .home-title h1 {
        padding-bottom: 0px;
        text-transform: uppercase;
    }
    .intro {
        padding: 10px 20px 60px 5px;
        max-width: 90%;
    }
    .learn-more {
        padding-left: 0px;
    }
    .marker-blue, .marker-mustard {
        width: 60px;
        height: 60px;
        padding: 13px 8px;
        margin-left: 18px;
    }
    .mid-button, .mid-button-right {
        margin-top: 40px;
    }
    .mid-button {
        text-align: center;
        padding-right: 0px;
    }
    .mid-button-right {
        text-align: left;
        padding-left: 0px;
    }
    .mid-button-sand {
        margin-left: 2px;
    }
    .mid-content {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .name-field-label {
        margin-bottom: 0px;
        margin-top: -25px;
    }
    .nine-qs {
        padding: 40px 0px 40px 120px;
    }
    .questionairre {
        padding: 50px 40px 20px 85px;
    }
    div#getStarted::after {
        content: " ";
        position: absolute;
        border-bottom: 3px solid #6A95B5;
        height: 42px;
        width: 60px;
        left: 0px;
    }
    div#markerA::before, div#markerC::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 75%;
        left: 62px;
        top: -45px;
    }
    div#markerB::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 60%;
        left: 62px;
        top: -38px;
    }
    div#markerC::after {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 105%;
        left: 62px;
        top: 60px;
    }
    div#continue::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 35px;
        left: 112px;
        top: -30px;
    }
}

/* EVERYTHING BEFORE IS GOLDEN */

@media screen and (min-width: 1200px) {
    .ccrow {
        margin-left: 0px;
        padding-left: 90px;
    }
    .chars-header-text {
        font-size: 24px;
        line-height: 28px;
        margin-top: 0px;
    }
    .chars-marker.chars {
        margin-top: -15px;
        margin-left: 0px;
    }
    .form-blue, .form-mustard {
        margin-top: -10px;
        margin-bottom: 50px;
    }
    .get-started {
        padding-bottom: 75px;
        padding-left: 35px;
        padding-right: 175px;
    }
    .home-title h1 {
        padding-bottom: 0px;
        text-transform: uppercase;
    }
    .intro {
        padding: 10px 20px 60px 5px;
        max-width: 90%;
    }
    .learn-more {
        padding-left: 0px;
    }
    .marker-blue, .marker-mustard {
        width: 60px;
        height: 60px;
        padding: 13px 8px;
        margin-left: 18px;
    }
    .mid-button, .mid-button-right {
        margin-top: 40px;
    }
    .mid-button {
        text-align: center;
        padding-right: 0px;
    }
    .mid-button-right {
        text-align: left;
        padding-left: 0px;
    }
    .mid-button-sand {
        margin-left: 2px;
    }
    .mid-content {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .name-field-label {
        margin-bottom: 0px;
        margin-top: -25px;
    }
    .nine-qs {
        padding: 40px 0px 40px 120px;
    }
    .questionairre {
        padding: 50px 40px 20px 85px;
    }
    div#getStarted::after {
        content: " ";
        position: absolute;
        border-bottom: 3px solid #6A95B5;
        height: 45px;
        width: 60px;
        left: 35px;
    }
    div#markerA::before, div#markerC::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 80%;
        left: 60px;
        top: -50px;
    }
    div#markerB::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 60%;
        left: 60px;
        top: -38px;
    }
    div#markerC::after {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 115%;
        left: 60px;
        top: 60px;
    }
    div#continue::before {
        content: " ";
        position: absolute;
        border-left: 3px solid #004A80;
        height: 35px;
        left: 145px;
        top: -30px;
    }
}
