@charset "UTF-8";
/* CSS File for Wall Type Characteristics */

.characteristics-inner {
    position: relative;
    width: 100%;
    height: 1450px;
    overflow: hidden;
}
@media screen and (min-width: 414px) {
    .characteristics-inner {
        height: 1465px;
    }
}
@media screen and (min-width: 480px) {
    .characteristics-inner {
        height: 1825px;
    }
}
@media screen and (min-width: 600px) {
    .characteristics-inner {
        height: 2150px;
    }
}
@media screen and (min-width: 768px) {
    .characteristics-inner {
        height: 925px;
    }
}
@media screen and (min-width: 800px) {
    .characteristics-inner {
        height: 1025px;
    }
}
@media screen and (min-width: 1280px) {
    .characteristics-inner {
        height: 1175px;
    }
}
@media screen and (min-width: 1440px) {
    .characteristics-inner {
        height: 1225px;
    }
}
@media screen and (min-width: 1536px) {
    .characteristics-inner {
        height: 1300px;
    }
}
.chars-label {
    margin-left: 40%;
    text-align: left;
}
/* Characteristics Screens Vertical Lines */
/* Wall Types */
.chars-border-middle-wt-1,
.chars-border-middle-wt-2,
.chars-border-middle-wt-3,
.chars-border-middle-wt-4,
.chars-border-middle-wt-4a,
.chars-border-middle-wt-5 {
    position: absolute;
    border: none;
    border-left: 3px solid var(--lightBlue);
    border-left: 3px solid #6A95B5;
}
.chars-border-middle-wt-1 {
    height: 9%;
    margin-top: -43%;
}
.chars-border-middle-wt-2 {
    height: 18.7%;
    margin-top: -5%;
}
.chars-border-middle-wt-3 {
    height: 4.8%;
    margin-top: 74%;
}
.chars-border-middle-wt-4 {
    height: 4.85%;
    margin-top: 171%;
}
.chars-border-middle-wt-4a {
    height: 6.25%;
    margin-top: 268%;
}
.chars-border-middle-wt-5 {
    height: 130px;
    margin-top: -60px;
}
@media screen and (min-width: 360px) {
    .chars-border-middle-wt-1 {
        height: 11%;
    }
    .chars-border-middle-wt-2 {
        height: 15.35%;
    }
    .chars-border-middle-wt-3 {
        height: 5%;
        margin-top: 72%
    }
    .chars-border-middle-wt-4 {
        margin-top: 166.25%;
        height: 5%;
    }
    .chars-border-middle-wt-4a {
        margin-top: 260%;
        height: 5%;
    }
    .chars-border-middle-wt-5 {
        margin-top: -22%;
        height: 5%;
    }
    .chars-label {
        margin-left: 35%;
    }
}
@media screen and (min-width: 375px) {
    .chars-border-middle-wt-2 {
        height: 15.55%;
    }
    .chars-border-middle-wt-3 {
        height: 5.05%;
        margin-top: 81.25%
    }
    .chars-border-middle-wt-4 {
        margin-top: 187.75%;
        height: 4.95%;
    }
    .chars-border-middle-wt-4a {
        margin-top: 294.25%;
        height: 6.3%;
    }
    .chars-border-middle-wt-5 {
        margin-top: -25.5%;
        height: 8%;
    }
    .chars-label {
        margin-left: 44%;
    }
}
@media screen and (min-width: 411px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4 {
        height: 5.05%;
    }
    .chars-border-middle-wt-4 {
        margin-top: 187.9%;
    }
    .chars-border-middle-wt-4a {
        margin-top: 294.75%;
    }
    .chars-label {
        margin-left: 46%;
    }
}
@media screen and (min-width: 414px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4 {
        height: 5%;
    }
    .chars-border-middle-wt-2 {
        height: 15.35%;
    }
    .chars-border-middle-wt-3 {
        margin-top: 81.75%
    }
    .chars-border-middle-wt-4 {
        margin-top: 189%;
        height: 4.9%;
    }
    .chars-border-middle-wt-4a {
        margin-top: 295.9%;
    }
    .chars-border-middle-wt-5 {
        margin-top: -25.3%;
    }
}

@media screen and (min-width: 480px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4 {
        height: 4.35%;
    }
    .chars-border-middle-wt-1 {
        margin-top: -46%;
        height: 10%;
    }
    .chars-border-middle-wt-2 {
        height: 12.1%;
    }
    .chars-border-middle-wt-3 {
        margin-top: 91.5%;
    }
    .chars-border-middle-wt-4 {
        margin-top: 205.5%;
    }
    .chars-border-middle-wt-4a {
        margin-top: 319%;
        height: 4.4%;
    }
    .chars-border-middle-wt-5 {
        margin-top: -22.5%;
        height: 9%;
    }
    .chars-label {
        margin-left: 42%;
    }
}
@media screen and (min-width: 600px) {
    .chars-border-middle-wt-3,
    .chars-border-middle-wt-4,
    .chars-border-middle-wt-4a {
        height: 4.2%;
    }
    .chars-border-middle-wt-1 {
        margin-top: -41%;
        height: 9%;
    }
    .chars-border-middle-wt-2 {
        height: 11.3%;
    }
    .chars-border-middle-wt-3 {
        margin-top: 83.1%;
    }
    .chars-border-middle-wt-4 {
        margin-top: 185.3%;
    }
    .chars-border-middle-wt-4a {
        margin-top: 287.5%;
    }
    .chars-border-middle-wt-5 {
        margin-top: -19%;
        height: 9%;
    }
    .chars-label {
        margin-left: 33%;
    }
}
@media screen and (min-width: 768px) {
    .chars-border-middle-wt-2 {
        height: 105%;
    }
    .chars-label {
        width: 75%;
        margin-left: 20%;
        text-align: center;
    }
}
@media screen and (min-width: 800px) {
    .chars-border-middle-wt-1 {
        margin-top: -22%;
        height: 25%;
    }
}
@media screen and (min-width: 1024px) {
    .chars-border-middle-wt-2 {
        height: 110%;
    }
}
@media screen and (min-width: 1366px) {
    .chars-border-middle-wt-1 {
        margin-top: -4%;
    }
    .chars-border-middle-wt-2 {
        margin-top: 0%;
        height: 92%;
    }
}
@media screen and (min-width: 1440px) {
    .chars-border-middle-wt-1 {
        margin-top: -12.5%;
        height: 36%;
    }
}
@media screen and (min-width: 1920px) {
    .chars-label {
        margin-left: -19%;
    }
}
